<div class="container">
  <%= simple_form_for(@itinerary) do |f| %>
    <div class="new-part-one">
      <%= f.input :title %>
      <%= render 'shared/map' %>
      <input type="text" id="input" onfocus="this.value=''">
      <input type="button" value="Add step" id="addstep">
      <div class="hidden-form"></div>
    </div>
    <p class="btn btn-primary switch-new">Suivant</p>
    <div class="new-part-two d-none">
      <%= f.input :category, as: :radio_buttons,
                            collection_wrapper_tag: 'div',
                            collection_wrapper_class: 'category-wrapper',
                            item_wrapper_class: 'category-item d-none',
                            input_html: {class: 'category-selector'},
                            collection: Itinerary::CATEGORIES %>
      <div class = "category-logos">
        <%= image_tag "family bike.png", class: "logos logo-category", data: {id: '0'} %>
        <%= image_tag "road bike.png", class: "logos logo-category ", data: {id: '1'} %>
        <%= image_tag "mountain bike.png", class: "logos logo-category", data: {id: '2'} %>
      </div>
      <%= f.input :km %>
      <%= f.input :description %>
      <%= f.submit class:"btn btn-Join" %>
    </div>
  <% end %>
</div>
