<div class="container">
  <%= simple_form_for(@itinerary) do |f| %>
    <%= f.input :km %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :title %>
    <input type="text" id="input">
    <input type="button" value="Add step" id="addstep">
    <div class="hidden-form"></div>
    <%= f.submit class:"btn btn-success" %>
  <% end %>
</div>
