<div class="container">
  <%= simple_form_for(@itinerary) do |f| %>
    <%= f.input :km %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :title %>
    <%= f.submit class:"btn btn-success" %>
  <% end %>
</div>
