<div class= "container">
<div class = "top-div">
  <h1><%= @user.first_name %></h1>
  <p>Cycling addict !</p>
  <%= image_tag @user.url, alt: "user image", width: "100px", class: "avatar-card" %>
</div>

<div class = "bio card mx-auto text-center m-3 col-sm-12 col-lg-4 p-4">
 <p> <%= @user.bio %> </p>
</div>

<div class = "profile-itineraries">
  <br>
  <h2> <%= @user.first_name %>'s itineraries </h2>
  <br>
  <div class = "row">
    <% @itineraries.each do |itinerary|  %>
    <div class="itinerary-card-column col-sm-12 col-lg-4">
      <div class = "itinerary-card card p-3 mb-4 ">
        <div class = "card-title d-flex align-items justify-content-start">
          <%= image_tag itinerary.user.url, alt: "user image", class: "avatar mr-3" %>
          <h3> <%= itinerary.title %> </h3>
        </div>
        <div class = "card-text d-flex align-items justify-content-between px-5">
          <p> <%= itinerary.km %> km </p>
          <p> <% if itinerary.category == "family" %>
              <%= image_tag "family bike.png", class: "logo-category family-logo" %>
              <% elsif itinerary.category == "road bike" %>
              <%= image_tag "road bike.png", class: "logo-category" %>
              <% elsif itinerary.category == "mountain bike" %>
              <%= image_tag "mountain bike.png", class: "logo-category" %>
              <% end %>
          </p>
        </div>
        <div class = "details-button ">
          <%= link_to "details", itinerary_path(itinerary), class: "button" %>
        </div>
    </div>
     </div>
    <% end %>
  </div>
</div>
</div>
