<div class="container p-3">
<div class = "top-div py-3">
  <h1>Rides</h1>
</div>

    <div class="search-form-control form-group">
    <%= form_tag rides_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a location"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
    </div>
  </form>


<form action ="/rides" method="get">
  <div class="d-flex align-items-center justify-content-around">
      <label for="range-1a"><p>Km/max:</p></label>
      <input type="range" value= "<%= params ? params["range-1a"] : "250" %>" name="range-1a" id="range-1a" min="1" max="500" oninput="this.nextElementSibling.value = this.value">
      <output><%= params["range-1a"] %></output>
      <input type="submit" value="Go !" class="btn go-btn">
  </div>
</form>

  <div class = "rides-index py-4">
    <div class = "ride-card row">
      <% @rides.each do |ride|  %>
      <div class="col-sm-12 col-lg-4">
        <div class = "card pb-1 pt-3 px-3 mb-4">
          <div class = "card-title d-flex align-items justify-content-arround">
            <%= link_to profile_path(ride.itinerary.user.id) do %>
              <%= image_tag ride.itinerary.user.url, alt: "user image", class: "avatar mr-3" %>
            <% end %>
            <h3><%= ride.itinerary.title %></h3>
          </div>
          <div class = "d-flex justify-content-around mb-2" >
            <p id= "ride-card-date"> <%= ride.date.strftime("%B %d at %I") %> </p>
            <p><%= ride.itinerary.km %>km </p>
          </div>
          <div class= "d-flex justify-content-between">
            <div class = "card-text d-flex justify-content-around">
              <p> <% if ride.itinerary.category == "family" %>
                <%= image_tag "family bike.png", class: "logo-category" %>
                <% elsif ride.itinerary.category == "road bike" %>
                <%= image_tag "road bike.png", class: "logo-category" %>
                <% elsif ride.itinerary.category == "mountain bike" %>
                <%= image_tag "mountain bike.png", class: "logo-category" %>
                <% end %>
              </p>
            </div>
            <div class = "details-button">
              <%= link_to "details", ride_path(ride), class: "button" %>
            </div>
          </div>
      </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
