<div class="container p-3">
<div class = "top-div py-3">
  <h1>Rides</h1>
</div>

  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  </form>


<form action ="/rides" method="get">
  <div class="d-flex align-items-center">
      <label for="range-1a"><strong>Km/max:&emsp;<strong></label>

      <input type="range" value="50" name="range-1a" id="range-1a" min="1" max="500" oninput="this.nextElementSibling.value = this.value">
      <output>50</output>
      <input type="submit" value="Go !" class="btn btn-Join mb-4 ml-2">
  </div>
</form>

  <div class = "rides-index py-4">
    <div class = "ride-card row">
      <% @rides.each do |ride|  %>
      <div class="col-sm-12 col-lg-4">
        <div class = "card p-3 mb-4">
          <div class = "card-title d-flex align-items justify-content-start">
            <%= image_tag current_user.url, alt: "user image", class: "avatar mr-3" %>
            <h3> <%= ride.date.strftime("%B %d at %I") %> </h3>
          </div>
          <div class = "card-text d-flex justify-content-around">
            <p> <%= ride.itinerary.km %> km </p>
            <p> <% if ride.itinerary.category == "family" %>
              <%= image_tag "family bike.png", class: "logo-category" %>
              <% elsif ride.itinerary.category == "road bike" %>
              <%= image_tag "road bike.png", class: "logo-category" %>
              <% elsif ride.itinerary.category == "mountain bike" %>
              <%= image_tag "mountain bike.png", class: "logo-category" %>
              <% end %>
            </p>
          </div>
          <div class = "details-button">
            <%= link_to "details", ride_path(ride), class: "button" %>
          </div>
      </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
