<div class="container">
  <div>
    <%= render 'shared/map' %>
  </div>
<div class="container">
    <div class="text-center align-self-start pt-20">
    <h2><%= @ride.itinerary.title %></h2>
  <div class="d-flex align-self-start">
  </div>
    </div>
  <div class="card-description">
    <br>
      <p><%= @ride.itinerary.description %></p>
    <br>
  </div>
<div class="container">
    <div class="row justify-content-center ">
      <div class="col-6 d-flex justify-content-around">
        <div class="grey-box p-2">
           <% if @ride.itinerary.category == "family" %>
              <%= image_tag "family bike.png", class: "logo-category family-logo" %>
              <% elsif @ride.itinerary.category == "road bike" %>
              <%= image_tag "road bike.png", class: "logo-category" %>
              <% elsif @ride.itinerary.category == "mountain bike" %>
              <%= image_tag "mountain bike.png", class: "logo-category" %>
              <% end %>
        </div>
      </div>
      <div class="col-6 d-flex justify-content-around">
        <div class="grey-box p-2">
          <p><%= @ride.itinerary.km %></p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center ">
      <div class="col-6 d-flex justify-content-around">
        <div class="grey-box my-4">
          <p>Total participants</p>
        </div>
      </div>
      <div class="col-6 d-flex justify-content-around">
        <div class="grey-box p-2 my-4">
            <p>Upvotes</p>
           
        </div>
      </div>
    </div>
<div></div>

  <div class="text-center">
    <%= link_to "Choose this ride", ride_path(@ride), class:"btn-choose-ride btn btn-Join"%>
  </div>

<div class = "chat">
  <h2><strong>You've been added to this trip with success !</strong> &#128512; </h2>
  <div class = btn-heart-div><button class = "btn-heart"><i class="heart far fa-heart fa-2x" style="color: #6B9080"></i></button></div>
  <div class = "messages">
    <p><strong>kevin:</strong> should we start at 8 pm ?</p>
  </div>
</div>
