<div class="container">
  <%= render 'shared/map' %>
  <div class="d-flex justify-content-between">
    <h2><%= @ride.itinerary.title %></h2>
  </div>
  <div class="card">
    <br>
    <br>
    ceci est une map
    <br>
    <br>
  </div>
  <div class="row">
    <div class="col-6 d-flex justify-content-around">
      <div class="grey-box my-2">
        <p><%= @ride.itinerary.category %></p>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-around">
      <div class="grey-box my-2">
        <p><%= @ride.itinerary.km %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 d-flex justify-content-around">
      <div class="grey-box my-2">
        <p>Total participants</p>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-around">
      <div class="grey-box my-2">
        <p>Upvotes</p>
      </div>
    </div>
  </div>
  <div class="text-center">
    <%= link_to "Choose this ride", ride_path(@ride), class:"btn btn-success"%>
  </div>
</div>
